*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

header .container{
    width: 100%;
    height: 540px;
    background: linear-gradient(360deg, #222222 0%, rgba(0, 0, 0, 0) 100%), url(./IMAGE\ \(2\).png);
    border-radius: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}

header .container .row .col-1{
    width: 100%;
    max-width: 1850px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
}

header .container .row .col-1 .ver{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    flex-wrap: wrap;
}

header .container .row .col-1 .col-2 ul{
    display: flex;
    flex-wrap: wrap;
}

header .container .row .col-1 .col-2 ul a{
    width: 100px;
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    flex-wrap: wrap;
    color: #999999;
    z-index: 5px;
    transition: 0.5s;
}

header .container .row .col-1 .col-2 ul a:hover,
header .container .row .col-1 .col-2 ul a.prt{
    color: #00D6B4;
}

header .container .row2{
    width: 100%;
    height: 106px;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 130px;
    color: #ffffff;
}

header .container .row2 h2{
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 53px;
}

header .container .row2 a{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 80px;
    text-transform: uppercase;
    color: #00D6B4;
    border: 1px solid #00D6B4;
    padding: 10px 15px;
    transition: 0.6s;
}

header .container .row2 a:hover{
    color: #ffffff;
    background-color: #00D6B4;
}


main .container1{
    width: 100%;
    height: 900px;
    background-color: #222222;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    flex-wrap: wrap;
}


main .container1 .row1 .col-1{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    margin: auto;
}

main .container1 .row1 .col-2{
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}
main .container1 .image{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 35px;
    box-sizing: border-box;
}
main .container1 .image .img{
    width: 30%;
    height: 225px;
    background-image: url(./IMAGE\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    box-sizing: border-box;
}


footer{
    width: 100%;
    height: 125px;
    background: #222222;
    border-radius: 0px;
    text-align: center;
    padding-top: 20px;
}

footer h3{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #C2C2C2;
}

footer p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #999999;
    line-height: 30px;
}